<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body></body>
{{>header}}
<img src="/img/pic.jpg">
<div>My name is {{name}}</div>
{{>footer}}
</body>

</html>